# Ignore virtual environment folders
.venv/
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore any local configuration files (optional)
*.env
*.DS_Store

# Ignore data files (if they are large or sensitive)
data/*.csv
